.infocard_card {
  /* padding: 0; */
  /* margin: 1rem; */
  display: flex;
  /* align-items: stretch; */
  /* justify-content: center; */
  /* padding: 0; */
  flex-direction: column;
  cursor: pointer;
}

.infocard_card > .MuiCardContent-root {
  flex: 1;
  /* padding: 0.2rem; */
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: stretch;
}

.infocard__selected {
  background: red;
  width: 100%;
  height: 10px;
}

.infocard__selected.recovered {
  background: green;
}
